.tooltip {
	display: flex;
	align-items: center;
	padding: 6px 8px;
	gap: 7px;
	border-radius: var(--radius-button);
	background-color: var(--bg-1);
	box-shadow: var(--shadow-tooltip);
	color: var(--text-1);
}

.withKbd {
	padding-right: 6px;
}
