@import "@gitbutler/design-core/core";

/*
    color-scheme isn't yet respected by prefers-color-scheme, so where we can't use light-dark() we
    can instead use this homegrown alternative. See:
		https://issues.chromium.org/issues/498561069
		https://github.com/w3c/csswg-drafts/issues/10577
*/
@function --light-dark(--light, --dark) {
	result: if(media(prefers-color-scheme: dark): var(--dark) ; else: var(--light));
}

:root {
	color-scheme: light dark;

	--list-item-hover-bg: color-mix(var(--fill-gray-bg) var(--opacity-bg-hover), transparent);
	--focus-ring: 1.5px solid color-mix(in srgb, var(--fill-gray-bg) 70%, transparent);
	--transition-fast: 0.08s ease;
	--panel-padding-block: 12px;
	--panel-padding-inline: 16px;
}

body {
	user-select: none;
}

button {
	app-region: no-drag;

	&:focus-visible {
		outline: var(--focus-ring);
	}
}

a {
	color: unset;
	text-decoration: unset;
	cursor: default;

	&:focus-visible {
		outline: var(--focus-ring);
	}
}
